:root {
  // main geometry
  --header-height: 50px;
  --footer-height: 50px;

  // color palette
  --bg-page-color: #eee;
  --bg-container-color: #fff;
  --border-color: #999;
  --border-rightSide: #ccc;
}
